body { font-family: sans-serif; padding: 20px; background: #f0f2f5; }

nav { text-align: end; }

nav a {
    color: #424242;
    font-size: 12pt;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #dcedff;
    border: 1px solid #2f90f8;
}

nav a:hover {
    color: #000;
    border-color: #007bff;
}

#voting-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

h1 { margin-bottom: 2rem; color: #333; }

.voting-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    max-width: 80%;
}

.card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 2px solid transparent;
    padding: 32px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    border-color: #007bff;
}

.card.voting {
    opacity: 0.7;
    pointer-events: none;
    cursor: wait;
}

.card.shadow {
    background: #e7f3ff;
    color: #ccc;
}

.card.selected {
    border: 4px solid #007bff;
    background: #007bff;
    color: white;
}

.avatar {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 auto 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

#status-msg {
    margin-top: 2rem;
    height: 20px;
    font-weight: bold;
}

.success { color: green; }
.error { color: red; }

.live-indicator {
    height: 12px;
    width: 12px;
    background-color: #ea2429;
    border-radius: 50%;
    display: inline-block;
    animation: pulsate 2s ease-out infinite;
    margin: 0  10px;
}

@keyframes pulsate {
    0% {
        transform: scale(0.8);
        opacity: 1;
        box-shadow: 0 0 0 0 rgba(234, 36, 41, 0.7); /* Inner glow */
    }
    50% {
        transform: scale(1);
        opacity: 1;
        box-shadow: 0 0 0 10px rgba(234, 36, 41, 0); /* Outer pulse effect */
    }
    100% {
        transform: scale(0.8);
        opacity: 1;
        box-shadow: 0 0 0 0 rgba(234, 36, 41, 0);
    }
}

.captcha-container {
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

#captchaCanvas {
    background-color: #f0f0f0;
    border-radius: 4px;
    cursor: pointer;
}

#captchaInput {
    padding: 8px;
    font-size: 12pt;
    width: 80px;
}

#vote-confirmation-box {
    text-align: center;
    padding: 30px 10px;
}

.hidden { display: none; }

button[type=submit] {
    padding: 15px 10px;
    border: 1px solid #014b9b;
    background-color: #007bff;
    border-radius: 50px;
    color: #f0f0f0;
    font-size: 12pt;
    font-weight: bolder;
    width: 90%;
}

button[type=submit]:hover {
    background-color: #1184ff;
    cursor: pointer;
}
